* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, head {
   height:100%;
   width:100%;
 
}
body::-webkit-scrollbar {
        display:none;
     /* -ms-oveflow-style:none; */
   /* overflow-x:hidden; */
}
/* .bar {
   height:20px;
   width:20px;
   display:none;
} */
.navbar {
    height:4.6025rem;  /* 73 px */
    /* width:100%; */
    background-color: #0f1111;
    
    color:white;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-evenly;
}

.logo {
    height:50px; /* 50 px */
    width:120px;        /* 120 px */
    margin-right:20px;
    /* position:relative;
    
    left:10px; */
    cursor:pointer;
    border-radius:5px;
 }
 #amazonn {
   display:none;
 }
 .logo:hover {
    border:2px solid white;
    border-radius:10px;
 }
 .map {
    height:3.75rem;   /* 60 px */
    width:5vw;     /* 90.64 px */
    /* margin-left:20px; */
    /* margin-right:20px; */
    display:flex;
    align-items: center;
    font-size:.9rem;
    cursor:pointer;
   
 }
 .tab {
   display:none;
 }
 .map-India {
     margin-left:5px;    /* 5 px */
    margin-top:8px;        /* 8 px */
    color:#CCCCCC;
 }
 .map:hover {
    border:2px solid white;
    border-radius:10px;
 }
 .search {
    height:3.75rem;        /* 60 px */
    width:50.25rem;         /* 900 px */ /*50.25rem*/
     display:flex;
     align-items: center;
     overflow:hidden;
  }
 
 /* .search:hover {
   border:2px solid orange;
   border-radius:10px;
} */
 .dropdown {
    height:2.5rem;     /* 40 px */
    width:4.375rem;      /* 70 px */
    background-color: rgb(225, 224, 224);
    text-align: center;
    font-size: .9rem;
    border:none;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    
 }
 .dropdown:hover {
   border:2.6px solid orange;
   
}
 .bar {
    height:2.5rem;      /* 40 px */
    width:56.25rem;         /* 900 px */
    font-size: 1.1rem;
    border-top-right-radius:3.9px;
    border-bottom-right-radius:3.9px;
    border:none;
    /* position:rlative;
    left:20px; */
 }
 .bar:hover {
   border:2.6px solid orange;
   
}
 .yell {
    
    height:2.5rem;        /* 40 px */
    width:3.4375rem;         /* 55 px */
      position:relative;
      right:42px;
      font-size:1.5rem;
      background-color: rgba(255, 166, 0, 0.868);
      display:flex;
    justify-content: center;
    align-items: center;
    border-radius:3px;
    color:#0f1111;
    cursor:pointer;
 }
 .account {
    height:3.125rem;       /* 50 px */
    width:9.375rem;        /* 150 px */
    /* background-color: red; */
    padding-top:10px;
    cursor:pointer;
 }
 .hello {
    font-size: .8rem;
    color:rgb(225, 224, 224);
    position:relative;
    left:5px;
 }
 .ac {
    font-size: .95rem;
    background-color: #0f1111;
    color:white;
    border:none;
 }
 .cart {
   height:2.5rem;         /* 40 px */
   width:6.25rem;         /* 100 px */
   display:flex;
   align-items: center;
   /* position:relative;
   right:20px; */
   cursor:pointer;
   margin-left:30px;
   
 }
 .cart:hover {
   border:2px solid white;
   border-radius:10px;
}
.account:hover {
   border:2px solid white;
   border-radius:10px;
}
.phone {
   height:20px;
   width:20px;
   display:none;
}
.panel {
   height:40px;
   width:100%;
   background-color: #232f3e;
   color:white;
   display:flex;
    align-items: center;
}
.menu  {
   width:80px;
   
}
.menu i {
   
   font-size: 1.3rem;
   padding-left:15px;
}

.today {
   display:flex;
   align-items: center;
   justify-content:space-evenly;
   height:40px;
   width:500px;
   font-size:.9rem;
}
 .deals {
   position:absolute;
   right:25px;
   font-weight:700;
 }
 

 .maain {
   height:40vh;
   width: 100% ;
   background-image:url("https://m.media-amazon.com/images/I/61Pdr3h6MmL._SX3000_.jpg");
   /* background-position:center ; */
   background-size:100vw;
   background-repeat:no-repeat;
   position:relative;
   top:0;
   display:flex;
   justify-content: center;
   align-items: center;
   position:relative;
   /* overflow:hidden; */
}
.mee {
   position:absolute;
   /* position:fixed; */
   left:1rem; 
   top:30%; 
   font-size:2.5rem; 
   color:#232f3ed4
}
.me {
   position:absolute;
   /* position:fixed; */
  
   right:1.5rem; 
   top:31%; 
   font-size:2.5rem; 
   color:#232f3ed4;
}

.someText {
   height:40px;
   width:94%; 
   color:black;
    font-size: .9rem;
   background:transparent;
   text-align:center;
   display:flex;
   align-items:last baseline;
   justify-content: center;
    position:absolute;
    bottom:10%;
   /* margin-bottom: 300px; */
}
.someText a {
   color:#007185;
   text-decoration: none;
}
.bigImages {
   height: 1440px;
   width:100vw;
   background-color:rgba(234, 212, 216, 0.29);
   /* position:relative;
   bottom:180px; */
   display:flex;
   flex-wrap:wrap;
   justify-content:space-evenly;
   gap: 10px;
   /* overflow-x: hidden; */
}
.bigImages img {
   position: relative;
   bottom:15px;
}
.imgg {
   height:430px;
   width: 350px;
   background-color:white;
   
}

.txt {
   height:27.3px;
   width:321px;
   font-size:1.175rem;
   font-weight:700;
   padding-bottom:4px;
   margin-top:20px;
   margin-left:20px;
}
/* .pos {
   position:relative;
   bottom:190px;
} */
.shop {
   height: 25px;
   width: 340px; 
   position:relative;
   bottom:20px;
   margin-left:15px;
      font-size:0.8rem;
   text-align: left;
}
.shop a {
   text-decoration: none;
}
.amg {
   height:360px;
   width:320px;
   margin-top:20px;
   margin-left:15px;
}
.img1 {
   display:flex;
   flex-wrap:wrap;
   justify-content:space-evenly;
}
.offer {
   background-color:rgb(255, 0, 0);
   color:white;
   font-size: .89rem;
   position:relative;
   bottom:70px;
   left:20px;
   border-radius: 3px;
}
#deal {
   font-size: .8rem;
   position:relative;
   bottom:70px;
   left:25px;
   border-radius: 3px;
}
#gear {
   font-size: .9rem;
   position:relative;
   bottom:70px;
   left:20px;
   border-radius: 3px; 
}
.img7 {
   display:flex;
   flex-wrap:wrap;
   justify-content:space-evenly;
}
.scrollbaarr {
   height:500px;
   width:100%;
   background-color:rgba(234, 212, 216, 0.29);
   /* position:relative;
   bottom:150px; */
   overflow-x: auto;
   white-space:nowrap;
}

/* .img2 img {
   overflow-x:hidden;
} */
.fig1 {
   display:inline-block;
   height:430px;
   width:350px;
   background-color:#dfd7d7;
   margin:10px;
}
footer {
   /* position:absolute; */
    width:100vw;
    position:absolute;
    
}

.Footpanel1 {
height:50px;
width:100vw;
display:flex;
justify-content: center;
align-items: center;
background-color:#37475a;

font-size:.9rem;

}
.Footpanel1 a {
   text-decoration:none;
color:white;
}
.Footpanel2 {
   height:360px;
   width:100%;
   background-color:#222f3d;
   color:white;
   display:flex;
   /* padding-top:30px;
   padding-left:250px; */
   justify-content: space-evenly;
   align-items:center;
}
/* ul {
   padding-right:6rem;
} */
ul a {
   display:block;
   font-size: .8rem;
   margin-top: 1rem;
}
/* .newOne {
   height:400px;
   width:100%;
     display:flex;
     justify-content: center;
     align-items:center;
     background-color:black;
} */
.inside {
   height:170px;
   width:100%;
   background-color:white;
   display:flex;
     justify-content: center;
     align-items:center;
}
.in {
   height:120px;
   width:90%;
   background-color:white;
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items:center;
   border:2px solid #DDD;
  border-radius: 5px;
}
.personlise {
   height:15px;
   width:260px;
   font-size:.8rem;
    padding-left:30px
}
.signin button {
   height:28px;
   width:230px;
   background-image:linear-gradient(rgb(255, 234, 0),orange);
   border-radius:4px;
   color:black;
   text-align: center;
   cursor: pointer;
}
.NewCustomer {
   height:15px;
   width:260px;
   font-size:.8rem;
   padding-left:50px;
}
.NewCustomer a {
   text-decoration: none;
   color:black;
}
.NewCustomer a:hover {
   color:red;
}
.Footpanel3 {
   height:80px;
   width:100%;
   background-color:#222f3d;
   border-top:.3px solid #DDD;
   border-bottom:.3px solid #DDD;
   display:flex;
   justify-content: center;
   align-items:center;
   
}
.copyright {
   height:80px;
   width:100%;
   background-color:#232f3e;
   text-align:center;
    padding-top:10px;
}

.copyright a {
   text-decoration:none;
   color:#ddd;
 
   font-size:.79rem;
}
.copy {
   height:20px;
   width:100%;
   padding-top:10px;
 
   color:#ddd;
   font-size:.8rem;
}
@media (max-width:605px) {
    body {
       /* height: 100%;
       width:100%; */
       overflow-x:hidden;
    }
    /* ::-webkit-scrollbar {
       width:0;
    } */
     .navbar {
        display:none;
     }
     .shop {
       overflow-x:hidden;
       width:200px;
     }
     .txt {
       width:221px; 
    }
    .imgg  {
     width:300px;
    }
    .amg {
       width:280px;
    }
     .img1 {
       column-gap:20px;
     }
     .img1 img {
       height:90px;
       width:90px;
     }
     .img7 img {
       height:90px;
       width:90px;
     }
     .img7 {
       column-gap:30px;
     }
     .img2 img {
       height:280px;
       width:280px;
     }
     .img3 img {
       height:280px;
       width:280px;
     }
     .img6 img {
       height:280px;
       width:280px;
     }
     .img8 img {
       height:280px;
       width:280px;
     }
     #chain {
      height:160px;
      width:260px;
     }
      .laptop , .hedset , .mouse , .chair {
       height:110px;
      }
    #gear {
       width:200px;
    }
    #smallone {
       height:115px;
       width:115px;
       margin-left:10px;
    }
 
     .phone {
    
         height:100px;
         width:100%;
         display:block;
         display:flex;
         flex-wrap:wrap;
         justify-content:space-between;
         background-color: #0f1111e5;
         color:white;
         padding:7px 0px 0px 10px;
       }
       .one {
          display:flex;
       }
       #ama {
          height:1.7 rem; /* 50 px */
          width:4.7rem;        /* 120 px */
          margin-left:10px;
       }
       .barr {
          padding-top:10px;
       }
       .two {
          display:flex;
          padding-right:20px;
          padding-top:7px;
         
       }
       #cart {
          margin-right:20px;
       
       }
      .someText p {
       padding-right:15px;
      }
       .maain {
          height:250px;
          width:100vw;
          /* overflow-x:hidden; */
       }
       .someText p {
          font-size:70%;
       }
       .someText {
          margin-bottom:10vh;
          font-size:.9rem;
       }
    
       #sgn {
          font-size:14px;
       }
       #sign {
          margin-right:15px;
       }
       #insign {
          font-size:25px;
          color:rgb(234, 255, 0);
       }
       #incart {
          font-size:25px;
          color:orange;
       }
    #search {
       height:2.5rem;        /* 60 px */
       width:140vw;         /* 900 px */
        display:flex;
        align-items: center;
        justify-content: center;
        margin-right:20px;
    }
    #bar {
       border:none;
       width:75vw;
       height:2.5rem;
    }
    #dropdown {
       border:none;
       width:8vw;
       height:2.5rem;
       border-top-left-radius:3px;
       border-bottom-left-radius:3px;
    }
   #yell {
    height:2.5rem;
    width:7vw;
    background-color: orange;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius:3px;
   }
 #glass {
    color:black;
 }
      .today , .deals {
         display:none;
      }
      footer {
      position:absolute;
     top:4700px;
      }
      .Footpanel2 {
       display:none;
      }
      .inside {
       position:absolute;
       top:4500px;
      }
      .bigImages {
       row-gap:10px;
       /* overflow-x:hidden; */
       /* overflow-x: auto; */
    white-space:nowrap;
      }
      .mee {
       position:absolute;
       /* position:fixed; */
       left:1rem; 
       top:3.6rem; 
       font-size:1.5rem; 
       color:#232f3ed4
    }
      .me {
      
       position:absolute;
       /* position:fixed; */
      
       right:1.5rem; 
       top:3.6rem; 
       font-size:1.5rem; 
       color:#232f3ed4;
    } 
    /* .imgg {
       width:95vw;
       padding-left:10px;
    }
    */
 }
 
 
 
 
 @media (min-width : 606px) and (max-width : 700px){
    .navbar {
       flex-wrap:wrap;
       height:12rem; 
    }
    .logo {
       display:none;
    }
    .map-India {
       display:none;
 
    }
    .maain {
       height:40vh;
      } 
     
    .tab {
       display:block;
       width:10rem;
       padding-top:2vh;
       padding-left:1vw;
    }
    .search {
       width:calc(50.25rem - 20rem);
       margin-left:5vw;
    }
    #amazonn {
       display:block;
       height:1.7 rem; 
          width:4.7rem; 
      }
      .yell {
       position:relative;
       right:4vw;
    }
      .deals {
       display:none;
    }
    footer {
       position:relative;
      top:2350px;
       }
       .inside {
          position:relative;
          top:2300px;
         } 
 }
 
 
 
 @media (min-width : 701px) and (max-width : 800px){
 
    .navbar {
       flex-wrap:wrap;
        height:10rem; 
    }
    .logo {
       display:none;
    }
    .map-India {
       display:none;
  }
   .maain {
    height:40vh;
   } 
  
  .tab {
       display:block;
       width:10rem;
       padding-top:2vh;
       padding-left:1vw;
    }
    .search {
       width:calc(50.25rem - 16rem);
       margin-left:5vw;
    }
    .yell {
       position:relative;
       right:4vw;
    }
      #amazonn {
       display:block;
       height:1.7 rem; 
          width:4.7rem; 
      }
  
 .deals {
    display:none;
 }
    footer {
       position:relative;
      top:850px;
       }
       .inside {
          position:absolute;
          top:2670px;
         }
 }
 
 @media (min-width : 801px) and (max-width : 1480px){
   
    .navbar {
       height:10rem; 
    }
    footer {
       position:relative;
      top:550px;
       }
       .inside {
          position:relative;
          top:530px;
         }
        .maain {
          height:40vh;
        }
       
 }
 


/* Finally I did it (19th Feb 2024) 🫡🫡🫡*/
/* This is last pakka  😚😚 😅😅 12th march */
/* feeling good even after working long time (almost one month)
      BECAUSE I GOT IT and DID IT */
